body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: 0;
}

.nav-wrapper {
    background-color: #D8E2DC;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-wrapper a {
    float: left;
    color: #293D31;
    display: block;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-wrapper a:hover{
    font-weight: bold;
}

.nav-wrapper a.active {
    text-decoration: underline;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    top: 50px;
    left: 0;
    right: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.dropdown a {
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.dropdown a:hover {
    background-color: #555;
}

.menu-icon {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding: 10px;
}

/* Media query for small screens */
@media (max-width: 768px) {
    nav a {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .dropdown {
        display: block;
    }
}

.separator {
    height: 1px;
    width: 90%;
    max-width: 962.0000000000036px;
    margin: 0 auto;
    background-color: #ccc;
    position: relative;
    top: 20px;
    margin-bottom: 70px;
}

.sidebar {
    background-color: #f4f4f4;
    max-width: 346px;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 35px;
    margin-left: 70px;
    margin-right: 70px;
}

.sidebar h2 {
    margin-bottom: 15px;
}

.ingredients {
    margin-bottom: 30px;
}

.ingredients ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ingredients li {
    margin-bottom: 10px;
}

* {
    box-sizing: border-box;
}


.recipe-text p {
    grid-column: 1 / span 5;
    margin-bottom: 70px;
    margin-left: 70px;
    margin-top: 50px;
    max-width: 1300px;
}

.container {
    display: flex;
}

.col-5 {
    grid-column: 3 / span 5; /* takes 5 columns starting from column 3 */
    padding: 20px; /* adds some padding */
}

img {
    display: block;
    margin: 0 auto;
}
.parent-recipe-photo > img {
    height: 200px;
    width: 200px;
    
}